body
	background-color: #f5eeea

.logo
	width: 148px
	height: 148px
	position: absolute
	top:40%
	left: 50%
	margin-top: -60px
	margin-left: -60px
	background: url("../image/loading.png")
	background-size: 100%

.copy
	position: absolute
	bottom: 0
	color: #646464
	width: 100%
	text-align: center
	line-height: 50px
