/*底部样式*/
.bb
  height 57px
  width 100%
.nav_bottom
  height 56px
  width 100%
  border-top 1px solid #d6d7dc
  background-color: #fff
  position fixed
  bottom 0
  display flex
  .nav_rows
    flex 1
    float left
    font-size 14px
    margin-top 8px
    position relative
    .icon
      width 44px
      height 38px
      display block
      margin 0 auto
  .nav_row
    flex 1
    float left
    font-size 14px
    margin-top 8px
    .nav_box
      display block
      color #b5b5b5
      text-align center
      .home_img
        display block
        width 26px
        height 24px
        background url("../image/bottom_nor_icon04@2x.png")no-repeat center
        background-size 26px 24px
        margin 0 auto
        margin-bottom 3px
        &.active
          background url("../image/bottom_press_icon04@2x.png")no-repeat center
          background-size 26px 24px
      .bespoke_img
        display block
        width 26px
        height 24px
        background url("../image/bottom_nor_icon03@2x.png")no-repeat center
        background-size 26px 24px
        margin 0 auto
        margin-bottom 3px
        &.active
          background url("../image/bottom_press_icon03@2x.png")no-repeat center
          background-size 26px 24px
      .mess_img
        display block
        width 24px
        height 24px
        background url("../image/bottom_nor_icon02@2x.png")no-repeat
        background-size cover
        margin 0 auto
        margin-bottom 3px
        &.active
          background url("../image/bottom_press_icon02@2x.png")no-repeat center
          background-size 26px 24px
      .me_img
        display block
        width 24px
        height 24px
        background url("../image/bottom_nor_icon01@2x.png")no-repeat
        background-size 26px 24px
        margin 0 auto
        margin-bottom 3px
        &.active
          background url("../image/bottom_press_icon01@2x.png")no-repeat center
          background-size 26px 24px
      .number
        width 18px
        height 18px
        line-height 18px
        color #fff
        background-color #ec461f
        border-radius 50%
        position absolute
        top 1px
        margin-left -10px
        font-size 12px
    .active
      color #ea5709
.top_point
  width 94px
  height 94px
  background url("../image/content_btn_back@2x.png")no-repeat center
  background-size 50%
  position fixed
  bottom 80px
  right 0
