/*基础样式*/
body {
  background-color: #121211;
  font-size: 16px;
}
/*内容样式*/
.title {
  padding: 0 12px;
}
.title .nav_back {
  display: block;
  width: 20px;
  height: 36px;
  background: url("../../image/nav_back_icon1@2x.png") no-repeat;
  background-size: 50%;
  position: absolute;
  margin: 12px 0;
}
