body
  background-color #b2b2b2
.success_box
  background-color #fff
  border-radius 10px
  position absolute
  width 60%
  left 20%
  top 50%
  margin-top -97px
  text-align center

  .success_text
    height 74px
    line-height 74px
    border-bottom 1px solid #efeff1
    font-size 14px
  .success_btn
    height 46px
    line-height 46px
    color #ea5404
    font-size 20px