/*基础样式*/
body
  background-color:#efeff4
  font-size: 16px
/*内容样式*/
.title
  height: 40px
  padding: 0 12px
  background-color: #fff
  border-bottom: 1px solid #e1e1e1
  text-align: center
  overflow: hidden

.title .nav_back
  display:block
  width: 16px
  height: 16px
  background: url("../../image/nav_back_icon@2x.png")no-repeat
  background-size: 50%
  position absolute
  margin: 12px auto 0

.title .title_text
  display: block
  margin: 12px auto 0
  font-size 20px
.option
  margin-top 6px
  height 42px
  display flex
  background-color #fff
  border-bottom 1px solid #e1e1e1
  .text
    flex 1
    &.active
      border-bottom 1px solid #eb6942
      color: #eb6942
  .option_link
    display block
    width 100%
    margin 12px 0
    text-align center
    border-right 1px solid #e1e1e1
  .option_links
    display block
    width 100%
    margin 12px 0
    text-align center
    &.active
      color: #eb6942
//需求样式
.collection_row
  height 134px
  margin 12px
  border 1px solid #e1e1e1
  border-radius 5px
  box-shadow 0 0 2px 1px #e1e1e1
  background-color #fff
  position relative
  display none
  &.active
    display block
  .collection_head
    display block
    margin-top 14px
    padding 0 0 14px 12px
    border-bottom 1px dashed #e1e1e1
  .tenant
    width 46px
    height 20px
    text-align center
    line-height 20px
    font-size 10px
    color #fff
    background-color #15b755
    border-radius 3px
    position absolute
    right 12px
    top 14px
  .agent
    width 46px
    height 20px
    text-align center
    line-height 20px
    font-size 10px
    color #fff
    background-color #0193e6
    border-radius 3px
    position absolute
    right 12px
    top 14px
  .collection_text
    font-size 12px
    margin 10px 12px
    line-height 18px
  .collection_link
    display block
    width 90px
    margin 0 auto
    text-align center
    color #717171
    padding 4px 0
    background-color #efeff4
    font-size 14px
    border 1px solid #e1e1e1
    border-radius 4px
  .right_text
    font-size 12px
    color #717171
    float right
    line-height 24px
    margin-right 12px
//房源样式
.house_details
  height 108px
  padding 12px
  background-color #fff
  border-bottom 1px solid #e1e1e1
  position relative
  margin-top 6px
  display none
  &.active
    display block
  .house_img
    float left
    display block
    padding-left 158px
    background url("../../image/content_img_list@2x.png")no-repeat
    background-size 140px 104px
    .house_head
      font-size 16px
      margin 6px 0
    .address
      font-size 14px
      color #717171
      margin-bottom 12px
    .link
      display block
      width 48px
      color: #ea5404
      font-size 12px
      padding 4px 10px
      border 1px solid #ea5404
      border-radius 5px
      margin-bottom 6px
    .mun
      color #ea5404
      font-size 12px
      .number
        font-size 16px
    .danw
      font-size 12px
      color #717171
    .right
      display block
      width 28px
      height 26px
      font-size 10px
      background url("../../image/collect_icon_press@2x.png")no-repeat
      background-size 17px
      position absolute
      right 12px
      top 0
      margin-top 20px
    .rights
      position absolute
      font-size 10px
      color #717171
      right 12px
      bottom 0
      margin-bottom 22px


