/*基础样式*/
body
  background-color:#efeff4
  font-size: 16px
/*内容样式*/
.title
  height: 40px
  padding: 0 12px
  background-color: #fff
  border-bottom: 1px solid #e1e1e1
  text-align: center
  overflow: hidden

.title .nav_back
  display:inline-block
  width: 20px
  height: 20px
  background: url("../../image/nav_set_icon@2x.png")no-repeat
  background-size: 100%
  margin: 12px auto 0
  float right

.title .title_text
  display:inline-block
  font-size 20px
  margin: 12px auto 0

.clicks
  position relative
  display flex
  margin-top 10px
  height 72px
  line-height 72px
  background-color #fff
  padding: 18px 12px 18px 12px
  border-bottom: 1px solid #eaebed

  .aa
   width 100%
  .clicks_img
   position absolute
   width 72px
   height 72px
   background url("../../image/log%20in_user-head@2x.png")no-repeat
   background-size cover

 .clicks_text
   flex 1
   padding-left 80px
   line-height 72px

 .pre
   position absolute
   top 50%
   right 2px
   display block
   margin-top -10px
   width 20px
   height 36px
   background url("../../image/log in_right_icon@2x.png")no-repeat
   background-size 50%
.s_box
  height 34px
  background-color #fff
  border-bottom 1px solid #d6d7dc
  padding 8px 12px
  text-align center
  overflow hidden
  display flex
  .s_left
    flex 1
    line-height 34px
    float left
    border-right 1px solid #eaebed
    .text
      font-size 14px
    .num
      font-weight bold
      font-size 20px
  .s_right
    flex 1
    line-height 34px
    float left
    .text
      font-size 14px
    .num
      font-weight bold
      font-size 20px

/*链接样式*/
.row
  height 56px
  padding 0 12px
  margin-top 12px
  background-color #fff
  border-bottom 1px solid #d6d7dc
  display flex
  position relative
  .cell_img
    position absolute
    display block
    width 24px
    height 24px
    background url("../../image/content_list_icon01@2x.png")no-repeat
    background-size 24px
    float left
    margin 16px  0
  .release_img
    position absolute
    display block
    width 24px
    height 24px
    background url("../../image/content_list_icon02@2x.png")no-repeat
    background-size 24px
    float left
    margin 16px  0
  .order_img
    position absolute
    display block
    width 24px
    height 24px
    background url("../../image/content_list_icon03@2x.png")no-repeat
    background-size 24px
    float left
    margin 16px  0
  .history_img
    position absolute
    display block
    width 24px
    height 24px
    background url("../../image/content_list_icon04@2x.png")no-repeat
    background-size 24px
    float left
    margin 16px  0
  .over_img
    position absolute
    display block
    width 24px
    height 24px
    background url("../../image/content_list_icon05@2x.png")no-repeat
    background-size 24px
    float left
    margin 16px  0

  .list_text
    float left
    flex 1
    line-height 56px
    padding-left 30px

  .link_pre
    position absolute
    top 50%
    right 0
    display block
    width 16px
    height 30px
    margin-top -8px
    background url("../../image/content_list_right_icon@2x.png")no-repeat
    background-size 50%
