/*基础样式*/
body
  background-color:#efeff4
  font-size: 16px
/*内容样式*/
.title
  height: 40px
  padding: 0 12px
  background-color: #fff
  border-bottom: 1px solid #e1e1e1
  text-align: center
  overflow: hidden

.title .nav_back
  display:block
  width: 16px
  height: 16px
  background: url("../../image/nav_back_icon@2x.png")no-repeat
  background-size: 50%
  position absolute
  margin: 12px auto 0

.title .title_text
  display: block
  margin: 12px auto 0
  font-size 20px
.logo
  height 244px
  position relative

  .logo_img
    display block
    width 148px
    height 148px
    background url("../../image/content_img_logo@2x.png")no-repeat
    background-size 86px
    position absolute
    left 50%
    top 50%
    margin  -76px 0 0 -43px
  .logo_center
    position absolute
    left 50%
    top 50%
    margin  23px 0 0 -68px
    .logo_text
      display block
      width 142px
      height 38px
      background url("../../image/content_text_logo@2x.png")no-repeat
      background-size 60%
      float left
    .ver
      font-size 14px
      color #636363
      float left
      margin 2px 0 0 -50px
.row
  height 56px
  padding 0 12px
  margin-top 12px
  background-color #fff
  border-bottom 1px solid #d6d7dc
  display flex
  position relative
  .list_text
    flex 1
    line-height 56px
  .figure
    color #b4b4b4
    position absolute
    top 50%
    margin-top -8px
    right 30px
  .link_pre
    position absolute
    top 50%
    right 0
    display block
    width 16px
    height 30px
    margin-top -8px
    background url("../../image/content_list_right_icon@2x.png")no-repeat
    background-size 50%
.copy
  position: absolute
  bottom: 0
  color: #646464
  width: 100%
  text-align: center
  line-height: 50px